.board {
    background-color: #0079BF;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    h1 {
        width: 100vw;
        font-size: 2em;
        margin-left: 2em;
    }
}
