.card {
    padding: 1.2em;
    margin: .3em .2em;
    background-color: white;
    border-radius: 4px;

    &:hover {
        background-color: $highlight;
    }
}

.highlight {
    background-color: $highlight;
}
